<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<% include Templates/header.ejs %>
<body>
<h1><%= message %> - 404</h1>
</body>
</html>