<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
</head>
<a href="/">Home</a> |
<a href="addReport">Add-Report</a> |
<a href="reports">Reports</a> |
<a href="uploadFile">Upload-File</a> |
<a href="uploads">Uploads</a> |
<a href="qrCode">qrCode</a> |
<a href="socketIO">SocketIO</a>